<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="w-100 d-flex flex-row justify-content-between">
    <a class="d-block navbar-brand" [routerLink]="['/']">T-STORE</a>
    <button class="btn btn-warning" (click)="toggleCart(cartEl)">
      <span>cart</span> <span *ngIf="count" class="ml-2 count">{{count}}</span> 
    </button>
  </div>
  <div class="cart" #cartEl>
    <button class="close-btn btn btn-danger" (click)="toggleCart(cartEl)">x</button>
    <app-cart></app-cart>
  </div>
</nav>
