.cart {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 999;
  display: flex;
  flex-direction: row;
  width: 0px;
  overflow: hidden;
}

app-cart {
  width: 100%;
}

.close-btn {
  border-radius: 0px;
  height: 3rem;
  border: none;
  width: fit-content;
}

.hide-cart {
  width: 0px;
}

.show-cart {
  width: 500px;
}

.count {
  background-color: white;
  padding: 3px;
  border-radius: 100%;
  font-size: 14px;
}


/* for mobil devices */
@media only screen and (max-width: 768px) {
  .hide-cart {
    width: 0vw;
  }

  .show-cart {
    width: 100vw;
  }
}
