.cart-container {
    height: 100%;
    width: 100%;
    background-color: #000000cc;
}

.item {
    color: #fefefe;
}

.item p{
    padding: 0px;
    margin: 0px;
}

.image-container {
    height: 6rem;
    width: 5rem;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.checkout-btn {
    width: 100%;
    border-radius: 0px;
 }
