<div class="cart-container d-flex flex-column justify-content-between">

  <div class="row" style="margin-bottom: 1rem" *ngFor="let item of items">
    <div class="col-sm-3">
      <div class="image-container">
        <img [src]="item.product.image">
      </div>
    </div>
    <div class="col-sm-7">
      <div class="item">
        <p>{{item.product.title}}</p>
        <p>Size: {{item.size}}</p>
        <p>Quantity: {{item.quantity}}</p>
      </div>
    </div>

    <div class="col-sm-2">
      <p class="price text-warning">{{(item.quantity * item.product.price) | currency}}</p>
    </div>
  </div>

  <div class="row" *ngIf="items.length > 0">
    <div class="col-sm-12 checkout-container">
      <div class="px-4 d-flex flex-row justify-content-between">
        <div class="text-white"><b>SUB TOTAL</b></div>
        <div class="text-warning">
          <b>{{subTotal | currency}}</b>
        </div>
      </div>
      <button class="checkout-btn btn btn-warning">Checkout</button>
    </div>
  </div>

</div>
