
.product-img-container {
  height: 100%;
}

.product-img-container img {
  width: 100%;
  height: 20rem;
  object-fit: cover;
}

.product-details {
  padding: 10px;
}

.add-to-cart {
  background-color: black;
  color: #fefefe;
  border-radius: 0;
  width: 100%;
}

.add-to-cart:hover {
  background-color: #ffc107;
  color:#000000;
}