<div class="product-container product bg-white rounded shadow-sm ">

  <div class="product-img-container">
    <img [src]="product.image" alt="blue-t-shirt">
  </div>
  <div class="product-details">
    <h5>{{product.title}}</h5>
    <p>{{product.price | currency}}</p>
    
      <div class="form-group d-flex">
        <label class="d-block">size:</label>
        <select (change)="updateSize(sizeEl.value)" #sizeEl id="size" style="width: 6rem" class="ml-2 form-control">
          <option value=""></option>
          <option *ngFor="let size of product.availableSizes" [value]="size">{{size}}</option>
        </select>

      </div>
    
    <button class="add-to-cart btn br-0" (click)="addToCart()">Add to Cart</button>
  </div>
</div>
