<div class="container-fluid mt-3">
  <div class="row">
    <!-- Sizes Filters -->
    <div class="col-lg-3">
      <h4>Sizes</h4>
      <div class="d-flex flex-row justify-content-start flex-wrap">

        <div class="label m-3" *ngFor="let size of sizes">
          <label class="check-box-container">
            <input (change)="filterBy($event, size)" type="checkbox">
            <span class="size-label">{{size}}</span>
          </label>
        </div>
      </div>
    </div>
    <div class="col-lg-9">
      <div class="row d-flex flex-row-reverse align-items-end">
        <div class="col-sm-3">
          <div class="form-group">
            <select (change)="sort(el.value)" #el class="form-control" id="order_by">
              <option value="">Find by</option>
              <option value="lowest_to_highest">Lowest to Highest</option>
              <option value="highest_to_lowest">Highest to Lowest</option>
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div *ngFor="let product of products" class="mt-2 col-md-6 col-lg-4 col-xl-3">
          <app-product [product]="product">
          </app-product>
        </div>
      </div>

      <div *ngIf="products && products.length == 0">
        <h3>No products available</h3>
      </div>

    </div>
  </div>
</div>
