.label {
  cursor: pointer;
  position: relative;
  height: 3rem;
  width: 3rem;
}

.check-box-container {
  margin-bottom: 30px;
  cursor: pointer;
  user-select: none;
  border-radius: 100%;
}

.check-box-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.size-label {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  border-radius: 100%;
  text-transform: uppercase;
  font-weight: bold;
  border: 1px solid #000;
  padding-top: .8rem;
}

.check-box-container input:checked ~ .size-label {
  background-color: #000;
  color: #fefefe;
}
